label{
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
}

p{
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
}

input[type="radio"]:checked+div,input[type="radio"]:checked+div+label{
      background-color: blue;
}

input[type="radio"]{
      display: none;
}

.trkmenuitem{ display: inline-block;}