/* Thanks Loup&Snoop (for the colors) */


.dropdown {
    background: white url(icon/mm-dropdown-arrow.png) 99% 50% no-repeat;
    border: 3px solid white;
    border-radius: 5px;
    font-weight: bold;
    color: #3a3a3a;
    height: 30px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.dropdown:hover {
    animation-name: dropdownhover;
    animation-duration: 100ms;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}

.dropdown:active {
    background: #eee url(icon/mm-dropdown-arrow-clicked.png) 99% 50% no-repeat;
}

.displayText {
    font-size: 12px;
    font-weight: bold;
}

.tracklistitem {
    transition: background-color 150ms, border 150ms;
}

.tracklabel {
    transition: color 150ms;
}


#fileText {
    float: left;
    margin-top: 17px;
}

#fileInput {
    color: white;
    background-color: #164770;
    border: 3px solid #164770;
    border-radius: 5px;
    font-weight: bold;
    padding-right: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

#tempotext {
    position: relative;
    left: 130px;
    top: 2px;
    font-size: 10px;
    height: 0;
    width: max-content;
    margin-top: 0;
    margin-bottom: 0;
}

#fstxt {
    margin-bottom: 0;
}

#tempoSelect {

    padding-left: 12px;
    padding-right: 30px;
}

#verticalShift, #blockPerBeat, #pushbackLimit {
    width: 50px;
}

#noiseThreshold {
    position: relative;
    top: 5px;
}

#trackSettingParagraph {
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: 8px;
    font-weight: bold;
}

#octaveShift {
    width: 50px;
}

#semitones {
    width: 50px;
}

#noteAboveScreenText {
    padding-right: 12px;
}

#noteBelowScreenText {
}

#soloBox {
    position: relative;
    bottom: 3px;
    right: 4px;
}

#unsupportedEntities, #advanceSettings, #showPercussion {
    position: relative;
    top: 3px;
    right: 4px;
}


@keyframes buttonpress {
    0% {
        box-shadow: #1a5586 0px 3px;
        transform: translateY(1px);
    }
    100% {
        box-shadow: #1a5586 0px 0px;
        transform: translateY(4px);
    }
}

@keyframes dropdownhover {
    0% {
        background: white url(icon/mm-dropdown-arrow.png) 99% 50% no-repeat;
        border: 3px solid white;
    }
    100% {
        background: #eee url(icon/mm-dropdown-arrow.png) 99% 50% no-repeat;
        border: 3px solid #eee;
    }
}

@keyframes discordglow {
    0% {
        border-color: #7289da;
        background-color: #7289da;
    }
    100% {
        border-color: #689dff;
        background-color: #689dff;
    }
}

@keyframes discordhover {
    0% {
        box-shadow: #1a5586 0px 8px;
        transform: translateY(0px);
    }
    25% {
        box-shadow: #1a5586 0px 14px;
        transform: translateY(-6px);
    }
    50% {
        box-shadow: #1a5586 0px 11px;
        transform: translateY(-3px);
    }
    75% {
        box-shadow: #1a5586 0px 12px;
        transform: translateY(-4px);
    }
    100% {
        box-shadow: #1a5586 0px 12px;
        transform: translateY(-4px);
    }
}

@keyframes discordout {
    0% {
        box-shadow: #1a5586 0px 12px;
        transform: translateY(-4px);
    }
    100% {
        box-shadow: #1a5586 0px 8px;
        transform: translateY(0px);
    }
}

@keyframes discordpress {
    0% {
        box-shadow: #1a5586 0px 12px;
        transform: translateY(-4px);
    }
    100% {
        box-shadow: #1a5586 0px 0px;
        transform: translateY(8px);
    }
}

@keyframes discorddisappear {
    0% {
        box-shadow: #1a5586 0px 0px;
        transform: translateY(8px) rotateX(0deg);
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        transform: translateY(8px) rotateX(90deg);
    }
}