body{
      background-color: #086a9a;
}

.logo{
      height:35px;
      margin-bottom: 5px;
}

.dispcontainer{
      overflow: auto;
      border: 3px solid steelblue;
      border-radius: 3px;
}

input#fileinput{
	color: white;
	background-color: steelblue;
	border: 3px solid steelblue;
	border-radius: 5px;
      font-weight: bold;
      padding-right: 5px;
}

.button{
      outline: none;
      background-color: white;
      border: 3px solid #e4e4e4;
      border-radius: 5px;
      font-weight: bold;
      height: 30px;
      padding-left: 12px;
      padding-right: 12px;
      transition: transform 80ms, box-shadow 80ms;
      box-shadow: #1a5586 0px 4px;
}
button::-moz-focus-inner {
      border: 0;
}

.button:enabled:hover{
      box-shadow: #1a5586 0px 3px;
      transform: translateY(1px);
}

.button:enabled:active{
      /*animation-name: buttonpress;
      animation-duration: 50ms;
      animation-timing-function: ease-in;
      animation-fill-mode: both;*/
      box-shadow: #1a5586 0px 0px;
      transform: translateY(4px);
}

.button:disabled{
      box-shadow: #1a5586 0px 0px;
      transform: translateY(4px);
}

.dropdown{
      background: white url(icon/mm-dropdown-arrow.png) 99% 50% no-repeat;
      border: 3px solid white;
      border-radius: 5px;
      font-weight: bold;
      color: #3a3a3a;
      height: 30px;
      padding-left: 12px;
      padding-right: 12px;
      -webkit-appearance: none;
      -moz-appearance: none;
}

.dropdown:hover{
      animation-name: dropdownhover;
      animation-duration: 100ms;
      animation-timing-function: ease-in;
      animation-fill-mode: both;
}

.dropdown:active{
      background: #eee url(icon/mm-dropdown-arrow-clicked.png) 99% 50% no-repeat;;
}

p, label{
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
}

.displaytext{
      font-size: 12px;
      font-weight: bold;
}

.controlcontainer{
      background-color: steelblue;
	border: 3px solid steelblue;
      border-radius: 5px;
      width: max-content;
}

input{
      outline: none;
}

input::-moz-focus-inner{
      border: 0;
}

input[type="radio"]:checked+div,input[type="radio"]:checked+div+label{
      background-color: blue;
}

input[type="radio"]{
      display: none;
}

select{
      outline: none;
}

select::-moz-focus-inner{
      border: 0;
}

.tracklistitem{ 
      transition: background-color 150ms, border 150ms;
}

.tracklabel{
      transition: color 150ms;
}

.displaytextrow > td{
      padding-left: 8px;
      padding-right: 8px;
}

.discordbutton{
      outline: none;
      background-color: #7289da;
      border: 3px solid #7289da;
      background-image: url(icon/discord.png);
      background-size: 100px;
      border-radius: 12px;
      height: 40px;
      width: 105px;
      padding-left: 12px;
      padding-right: 12px;
      box-shadow: #1a5586 0px 8px;
      animation-name: discordglow,discordout;
      animation-timing-function: ease-in-out,ease-out;
      animation-direction: alternate;
      animation-duration: 1.5s,0.2s;
      animation-iteration-count: infinite, 1;
      animation-fill-mode: both;
}

.discordbutton:hover{
      animation-name: discordhover, discordglow;
      animation-duration: 0.5s, 1.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1, infinite;
      animation-fill-mode: both;
}

@keyframes buttonpress{
      0%{
            box-shadow: #1a5586 0px 3px;
            transform: translateY(1px);
      }
      100%{
            box-shadow: #1a5586 0px 0px;
            transform: translateY(4px);
      }
}

@keyframes dropdownhover{
      0%{
            background: white url(icon/mm-dropdown-arrow.png) 99% 50% no-repeat;
            border: 3px solid white;
      }
      100%{
            background: #eee url(icon/mm-dropdown-arrow.png) 99% 50% no-repeat;
            border: 3px solid #eee;
      }
}

@keyframes discordglow{
      0%{
            border-color: #7289da;
            background-color: #7289da;
      }
      100%{
            border-color: #689dff;
            background-color: #689dff;
      }
}

@keyframes discordhover{
      0%{
            box-shadow: #1a5586 0px 8px;
            transform: translateY(0px);
      }
      25%{
            box-shadow: #1a5586 0px 2px;
            transform: translateY(6px);
      }
      50%{
            box-shadow: #1a5586 0px 5px;
            transform: translateY(3px);
      }
      75%{
            box-shadow: #1a5586 0px 4px;
            transform: translateY(4px);
      }
      100%{
            box-shadow: #1a5586 0px 4px;
            transform: translateY(4px);
      }
}

@keyframes discordout{
      0%{
            box-shadow: #1a5586 0px 4px;
            transform: translateY(4px);  
      }
      100%{
            box-shadow: #1a5586 0px 8px;
            transform: translateY(0px);  
      }
}

@keyframes discordpress{
      0%{
            box-shadow: #1a5586 0px 4px;
            transform: translateY(4px);       
      }
      100%{
            box-shadow: #1a5586 0px 0px;
            transform: translateY(8px);      
      }
}

@keyframes discorddisappear{
      0%{
            box-shadow: #1a5586 0px 0px;
            transform: translateY(8px) rotateX(0deg);
            opacity: 100%;
      }
      100%{
            opacity: 0%;
            transform: translateY(8px) rotateX(90deg);
      }
}