#mainContainer {
    width: 95%;
    margin: 0 auto;
}

#startingContainer {
}

#toolbarContainer {
    flex-wrap: nowrap;
}

#informationContainer {
    height: 24px;
    margin-bottom: 0;
}

#displaycontainer {
    margin-bottom: 2px;
}

#minimapcontainer {
    margin-bottom: 4px;
    background-color: #195180;
}



#logoContainer {
    width: 100%;
}

#logoContainer div {
    display: table;
    margin: 0 auto;
}

#logoContainer img {
    height: 35px;
    margin-bottom: 5px;
}

#logoContainer p {
    float: right;
    position: relative;
    left: 5px;
    top: 7px;
}


#discordLinkContainer {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

#discordLinkContainer p {
    text-align: center;
    font-style: italic;
    margin-bottom: 4px;
}


.dispcontainer {
    overflow: auto;
    border: 3px solid #164770;
    border-radius: 3px;
    margin-bottom: 4px;
}

.controlcontainer {
    background-color: #164770;
    border: 3px solid #164770;
    border-radius: 5px;
    width: max-content;
}

.smallspacedcontainer, .spacedcontainer {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.spacedcontainer > * {
    margin-left: 8px;
    margin-right: 8px;
}

.smallspacedcontainer > * {
    margin-left: 4px;
    margin-right: 4px;
}


