body {
    background-color: #086a9a;
}


button {
    outline: none;
    background-color: white;
    border: 3px solid #e4e4e4;
    border-radius: 5px;
    font-weight: bold;
    height: 30px;
    padding-left: 12px;
    padding-right: 12px;
    transition: transform 80ms, box-shadow 80ms;
    box-shadow: #1a5586 0 4px;
}

button::-moz-focus-inner {
    border: 0;
}

button:enabled:hover {
    box-shadow: #1a5586 0 3px;
    transform: translateY(1px);
}

button:enabled:active, button:disabled {
    box-shadow: #1a5586 0 0;
    transform: translateY(4px);
}


p, label, a {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

p, label {
    color: white;
}

a {
    color: rgb(130, 255, 213);
}


input {
    outline: none;
}

input::-moz-focus-inner {
    border: 0;
}

input[type="radio"]:checked + div, input[type="radio"]:checked + div + label {
    background-color: blue;
}

input[type="radio"] {
    display: none;
}


select {
    outline: none;
}

select::-moz-focus-inner {
    border: 0;
}