
#logo {
    width: 100%;
}

#logo div {
    display: table;
    margin: 0 auto;
}

#logo img {
    height: 35px;
    margin-bottom: 5px;
}

#logo p {
    float: right;
    position: relative;
    left: 5px;
    top: 7px;
}