body {
	background-color: #086a9a;
}
  
p, li {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
  
p, li {
	color: white;
	margin: 4px auto;
}

a {
	color: skyblue;
}

ul {
	margin: 0 auto;
}

.contentcontainer {
	background-color: #164770;
	border: 3px solid #164770;
	border-radius: 5px;
	width: max-content;
	padding: 10px;
}

.title {
	font-size: large;
	font-weight: bold;
}